body{
    font-family: "fira Sans Condensed" , sans-serif;
    background: rgb(4, 252, 239);
    color :rgb(1, 19, 19);
    margin:0px;
    margin-bottom: 100px;
}
.chamada{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
header{
    font-size: 40px;  
    color: plum;
    border-bottom: 3px plum;
    padding: 20px;
    
}